
    <div class="row text-center">
      
      <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
        <div class="row">
          <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1 ">
              <h1 class="m-0 ">PRIVADO</h1>
            <h6>Pagina no Encontrada</h6>
            <p>Estamos trabajando en esta <span class="text-info">seccion</span>,<br> te recomendamos <span class="text-info" routerLink="">ir a Pagina Principal</span> Saludos!</p>
          </div>
        </div>
      </div>
    </div>
  